## Debt Analysis

In [1]:
import pandas as pd
import numpy as np

international_debt = pd.read_csv("international_debt.csv")

# Works the same as limit to top 10
international_debt.head(10)

,country_name,country_code,indicator_name,indicator_code,debt
0,Afghanistan,AFG,"Disbursements on external debt, long-term (DIS...",DT.DIS.DLXF.CD,72894453.7
1,Afghanistan,AFG,"Interest payments on external debt, long-term ...",DT.INT.DLXF.CD,53239440.1
2,Afghanistan,AFG,"PPG, bilateral (AMT, current US$)",DT.AMT.BLAT.CD,61739336.9
3,Afghanistan,AFG,"PPG, bilateral (DIS, current US$)",DT.DIS.BLAT.CD,49114729.4
4,Afghanistan,AFG,"PPG, bilateral (INT, current US$)",DT.INT.BLAT.CD,39903620.1
5,Afghanistan,AFG,"PPG, multilateral (AMT, current US$)",DT.AMT.MLAT.CD,39107845.0
6,Afghanistan,AFG,"PPG, multilateral (DIS, current US$)",DT.DIS.MLAT.CD,23779724.3
7,Afghanistan,AFG,"PPG, multilateral (INT, current US$)",DT.INT.MLAT.CD,13335820.0
8,Afghanistan,AFG,"PPG, official creditors (AMT, current US$)",DT.AMT.OFFT.CD,100847181.9
9,Afghanistan,AFG,"PPG, official creditors (DIS, current US$)",DT.DIS.OFFT.CD,72894453.7

In [2]:
# Count of unique values of countries on the debt list
distinct_countries = international_debt['country_name'].nunique()

# Converts the result into a dataFrame
results = {"total_distinct_countries": [distinct_countries]}
total_distinct_countries = pd.DataFrame(data=results)
print(total_distinct_countries)

   total_distinct_countries
0                       124

In [3]:
# Next, a drill into the distinct types of debts owed by these countries
distinct_values =  pd.unique(international_debt['indicator_code'])
results = {"distinct_debt_indicators": distinct_values}
distinct_debt_indicators = pd.DataFrame(data=results)
print(distinct_debt_indicators)

   distinct_debt_indicators
0            DT.DIS.DLXF.CD
1            DT.INT.DLXF.CD
2            DT.AMT.BLAT.CD
3            DT.DIS.BLAT.CD
4            DT.INT.BLAT.CD
5            DT.AMT.MLAT.CD
6            DT.DIS.MLAT.CD
7            DT.INT.MLAT.CD
8            DT.AMT.OFFT.CD
9            DT.DIS.OFFT.CD
10           DT.INT.OFFT.CD
11           DT.AMT.DLXF.CD
12           DT.INT.DPNG.CD
13           DT.AMT.PBND.CD
14           DT.INT.PBND.CD
15           DT.AMT.PCBK.CD
16           DT.DIS.PCBK.CD
17           DT.INT.PCBK.CD
18           DT.AMT.PROP.CD
19           DT.DIS.PROP.CD
20           DT.INT.PROP.CD
21           DT.AMT.PRVT.CD
22           DT.DIS.PRVT.CD
23           DT.INT.PRVT.CD
24           DT.AMT.DPNG.CD

In [4]:
summation_debt = pd.DataFrame(data = [{"total_debt":round(sum(international_debt['debt'])/1000000,2)}])
print (summation_debt)

   total_debt
0  3079734.49

In [5]:
# Find the top 5 countries based on the summation of their total debt
Top_5_Country_Debt = pd.DataFrame(international_debt.groupby('country_name')['debt'].sum().nlargest(5)).reset_index()

# Change Column names
Top_5_Country_Debt.columns = ['country_name','total_debt']
print (Top_5_Country_Debt)

                                   country_name    total_debt
0                                         China  2.857935e+11
1                                        Brazil  2.806240e+11
2                                    South Asia  2.476087e+11
3  Least developed countries: UN classification  2.128810e+11
4                            Russian Federation  1.912891e+11

In [6]:
# Control pandas display of functions to enable all numbers show completely without being shortened into scientfic 
# notations like (e^)
pd.set_option('display.float_format', '{:.5f}'.format)

# Group the distinct debt types by its average.
result_table = international_debt[['indicator_code','indicator_name','debt']].groupby(
                                    ['indicator_code','indicator_name'])['debt'].mean().reset_index()
result_table.sort_values('debt',ascending= False, inplace= True)

# Limit result to first 10 or top 10
result_table.rename(columns={'debt':'average_debt'}).head(10)

,indicator_code,indicator_name,average_debt
1,DT.AMT.DLXF.CD,"Principal repayments on external debt, long-te...",5904868401.49920
2,DT.AMT.DPNG.CD,"Principal repayments on external debt, private...",5161194333.81266
10,DT.DIS.DLXF.CD,"Disbursements on external debt, long-term (DIS...",2152041216.89024
12,DT.DIS.OFFT.CD,"PPG, official creditors (DIS, current US$)",1958983452.85984
8,DT.AMT.PRVT.CD,"PPG, private creditors (AMT, current US$)",1803694101.96326
17,DT.INT.DLXF.CD,"Interest payments on external debt, long-term ...",1644024067.65081
9,DT.DIS.BLAT.CD,"PPG, bilateral (DIS, current US$)",1223139290.39823
18,DT.INT.DPNG.CD,"Interest payments on external debt, private no...",1220410844.42152
4,DT.AMT.OFFT.CD,"PPG, official creditors (AMT, current US$)",1191187963.08306
5,DT.AMT.PBND.CD,"PPG, bonds (AMT, current US$)",1082623947.65362

In [7]:
# More analysis into long term debt, becasue it is the highest on the average value above

# Search for countries with long term loans DT.AMT.DLXF.CD and select the highest
query = international_debt.loc[(international_debt.indicator_code.isin(['DT.AMT.DLXF.CD'])),
                               ['country_name','indicator_name','debt']]
query.sort_values('debt',ascending = False).head(1)

,country_name,indicator_name,debt
462,China,"Principal repayments on external debt, long-te...",96218620835.70000

In [8]:
# Count of debts occurence to the most occuring type of debt
occurence = international_debt['indicator_code'].value_counts().reset_index()

# Limit answer to top 20
occurence.head(20)

             index  indicator_code
0   DT.AMT.DLXF.CD             124
1   DT.INT.DLXF.CD             124
2   DT.AMT.MLAT.CD             124
3   DT.INT.OFFT.CD             124
4   DT.AMT.OFFT.CD             124
5   DT.INT.MLAT.CD             124
6   DT.DIS.DLXF.CD             123
7   DT.INT.BLAT.CD             122
8   DT.AMT.BLAT.CD             122
9   DT.DIS.OFFT.CD             122
10  DT.DIS.MLAT.CD             120
11  DT.DIS.BLAT.CD             113
12  DT.AMT.PRVT.CD              98
13  DT.INT.PRVT.CD              98
14  DT.INT.PCBK.CD              84
15  DT.AMT.PCBK.CD              84
16  DT.INT.DPNG.CD              79
17  DT.AMT.DPNG.CD              79
18  DT.INT.PBND.CD              69
19  DT.AMT.PBND.CD              69

In [9]:
# Find the maximum debt owed by a country. However the focus is on the largest 10
Top_5_Max_Debt = international_debt.groupby('country_name')['debt'].max().nlargest(10).reset_index()

# Change Column names
Top_5_Max_Debt.columns = ['country_name','Maximum_debt']
Top_5_Max_Debt

                                   country_name      Maximum_debt
0                                         China 96218620835.70000
1                                        Brazil 90041840304.10001
2                            Russian Federation 66589761833.50000
3                                        Turkey 51555031005.80000
4                                    South Asia 48756295898.20000
5  Least developed countries: UN classification 40160766261.60000
6                                      IDA only 34531188113.20000
7                                         India 31923507000.80000
8                                     Indonesia 30916112653.80000
9                                    Kazakhstan 27482093686.40000